<app-layout></app-layout>
<section>
  <div class="row">
    <div class="card">
      <div class="col-sm-12">
         <div class="panel panel-default">
          <a class="flex items-center gap-4 py-6 px-8" href="#/">
            <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white">Nuevos Usuarios</h6>
          </a>
              <div class="panel-body">
              <form action="insert.php" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                       <label class="col-lg-2 control-label colorWhite">nombre</label>
                       <div class="col-lg-10">
                          <input type="text" placeholder="nombre" name="nombre" class="form-control">
                       </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                       <label class="col-lg-2 control-label">apellido Paterno</label>
                       <div class="col-lg-10">
                          <input type="text" placeholder="apellidoPat"name="apellidoPat" class="form-control">
                       </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                       <label class="col-lg-2 control-label">apellido Materno</label>
                       <div class="col-lg-10">
                          <input type="text" placeholder="apellidoMat" name="apellidoMat" class="form-control">
                       </div>
                    </div>
                    <br>
                    <br>

                    <br>
                    <br>
                    <div class="form-group">
                       <label class="col-lg-2 control-label">contrasenia</label>
                       <div class="col-lg-10">
                          <input type="password" placeholder="contrasenia" name="contrasenia" class="form-control">
                       </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                       <label class="col-lg-2 control-label">contrasenia</label>
                       <div class="col-lg-10">
                          <input type="password" placeholder="repite Contrasena" name="contrasenia1" class="form-control">
                       </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                       <div class="col-lg-offset-2 col-lg-10">

                       </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                       <div class="col-lg-offset-2 col-lg-10">
                          <button type="submit" class="btn btn-blue">Sign in</button>

                       </div>
                    </div>
                    <!--input type="submit" name="Enviar" class="btn btn-labeled btn-primary pull-right" value="UPLOAD"-->

                 </form>
                 <br>
                 <br>
                 <br>

              </div>
           </div>




           <!-- END table-->
        </div>

        </div>
      </div>
  </section>

