<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
      <h3>Create Account</h3>

      <!--label for="name">Usuario</!--label>
      <input type="text" placeholder="username" id="name" name="name" ngModel required-->

      <label for="email">Email</label>
      <input type="email" placeholder="Email" id="email" name="email" ngModel required>

      <label for="password">Contrasenia</label>
      <input type="password" placeholder="Password" id="password" name="password" ngModel required>

      <label for="password1">Confirm Contrasenia</label>
      <input type="password" placeholder="Confirm Password" id="password1" name="password1" ngModel required>

      <div *ngIf="loginForm.controls">
      </div>

      <button [disabled]="loginForm.invalid" type="submit">Create Account</button>

      <div class="social">
          <div class="go"><i class="fab fa-google"></i> Google</div>
          <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
      </div>
  </form>
</body>
</html>
