  <div class="page-header" style="background-image: url(img/face.jpg);">
   <div class="fill">

   </div>
   <div class="content-center">
    <div class="conta">
      <div class="title">
        <h1 class="title23">CENTRO DE MONITOREO E INFORMACIÓN PARA LA GESTIÓN DE RIESGOS Y DESASTRES.</h1>
      </div>
    </div>
   </div>

  </div>
  <div class="main">
    <div class="section section-space">
      <div class="container2">
        <div class="titleA">
          <h2 class="title1"> El Centro de Monitoreo e Información es un espacio de centralización de la información referida a la gestión del riesgo de desastres del Departamento de Cochabamba. Depende de la repartición de gestión del riesgo del Ejecutivo Departamental y se estructura a través de los siguientes sistemas: </h2>
        </div>

      </div>

    </div>
  </div>
  <div class="grid degrade2">
    <div class="container2">
      <a>
        <i class="icons large fi fi">
          <h3 class="title3"> Sistema de administracion de datos

          </h3>
        </i>
        <h4 class="title4"> Base de datos de eventos adversos, afectaciones y daños. Los datos provienen de la evaluación de daños y análisis de necesidades.  Base de datos de eventos adversos, afectaciones y daños. Los datos provienen de la evaluación de daños y análisis de necesidades.  </h4>
        <br>
        <button class="btn btn-blue btn-around btnCenter" routerLink="/datos1"> ingresa</button>
      </a>
    </div>
    <div class="container2">
      <a>
        <i class="icons large fi fi">
          <h3 class="title3">  Sistema de alerta temprana departamental  </h3>
        </i>
        <h4 class="title4"> Vigilancia y monitoreo de amenazas probables frente a condiciones de vulnerabilidades existentes.  </h4>
          <br>
        <button class="btn btn-blue btn-around btnCenter" routerLink="/alerta2"> ingresa</button>
      </a>
    </div>
    <div class="container2">
      <a>
        <i class="icons large fi fi">
          <h3 class="title3">  Sistema de gestión del conocimiento</h3>
        </i>
        <h4 class="title4">   Transferencia de conocimientos y experiencias para contribuir a la resiliencia e instaurar una cultura de prevención. </h4>
        <br>
        <button class="btn btn-blue btn-around btnCenter" routerLink="/conocimiento3"> ingresa</button>
      </a>
    </div>
    <div class="container2">
      <a>
        <i class="icons large fi fi">
          <h3 class="title3"> Sistema de coordinación de respuesta</h3>
        </i>
        <h4 class="title4">                        Articulación de acciones para las operaciones, logística e información para una respuesta coordinada ante eventos adversos.</h4>
        <br>
        <button class="btn btn-blue btn-around btnCenter" routerLink="/coordinacion4 " > ingresa</button>

      </a>
    </div>
  </div>
  

